@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

#root{
  height: 100%;
}



.gamePageBackground {
  background-color: #bfbfbf;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardHeader {
  background-color: #359c99;
  color: #fff;
  min-height: 48px;
  margin-bottom: -1px;
  padding-bottom: 9px;
  padding-top: 16px;
  border-radius: 20px 20px 0 0;
  text-align: center;
  width: 100%;
}
.cardBody {
  background-color: #f5f5f5;
  border-radius: 0 0 20px 20px;
  padding: 4px;
  padding-bottom: 25px;
  text-align: center;
  max-height: 85vh;
}

.countdownTimer {
  color: #fff;
  font-size: 1em;
  display: inline-block;
  margin-bottom: 10.5px;
}

.timerLabel {
  vertical-align: middle;
  font-size: 1.1em;
  margin-right: 8px;
}

.playerStat {
  font-size: 1.1em;
  font-weight: bold;
}

.playerStatTurn {
  padding: 2px 4px;
  border: 1px solid #82e2d5;
  border-radius: 3px;
  background-color: #57cec3;
}

.imageResize {
  width: 100%;
  height: auto;
}

.gameRow {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.gameCol {
  display: inline-block;
  background-color: #b1f1e7;
  border: 1px solid #b1f1e7;
  margin: 8px 4px;
  border-radius: 10px;
}

.gameCol:hover {
  border: 1px solid #367e80;
  cursor: pointer;
}

.gameColP1:hover{
  border: 1px solid #ffec3d;
}
.gameColP2:hover{
  border: 1px solid #ff4d4f;
}

/*Antd overwrites*/

.ant-btn-primary {
  background: #35d0c6;
  border-color: #35d0c6;
  border-radius: 20px;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background: #82e2d5;
  border-color: #82e2d5;
}

/*Antd card overwrites*/
.ant-card {
  border-radius: 20px;
  border: 0
}
.ant-card-head {
  color: #fff;
  background: #359c99;
  text-align: center;
  border-radius: 20px 20px 0 0;
}
.ant-card-bordered{
  border: 1px solid #363a46;
}
.ant-card-hoverable:hover {
  border-color: #e0fbf5;
}
.ant-card-body{
  border-radius: 0 0 20px 20px;
  background: #f5f5f5;
}
/*Ant Col overwrites*/
.ant-col {
  max-height: 100vh;
}
/*Ant Statistic overwrites*/
.ant-statistic-content-value {
  color: #fff;
  font-size: 1em;
  display: inline-block;
  text-align: center;
}


